.heading {
    color: blue;
    background-color: azure;
    font-style: normal;
}
.products {
    background-color: aqua;
}
.features {
    color: aqua;
    font-size: larger;

}
.button {
    background-color: blue;
    
}
.button a{
    color: white;
}